@model IEnumerable<StudyDirectionDbWebApp.Models.StudyForm>

@{
    ViewBag.Title = "Список";
}


<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Form)
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new {id = item.Form}, new {@class = "btn btn-default"})
        </td>
    </tr>
}

</table>
