
@{
    ViewBag.Title = "Календарь";
}

<div class="row full-calendar">
    <div class="col-sm-3">
        <div id="add-new-event">
            <h4 class="page-header">Добавить новое событие</h4>
            <div class="form-group">
                <label>Название события</label>
                <input type="text" id="new-event-title" class="form-control">
            </div>
            <div class="form-group">
                <label>Описание события</label>
                <textarea class="form-control" id="new-event-desc" rows="3"></textarea>
            </div>
            <a href="#" id="new-event-add" class="btn btn-primary pull-right">Добавить</a>
            <div class="clearfix"></div>
        </div>
        <div id="external-events">
            <h4 class="page-header" id="events-templates-header">События</h4>
            <div class="external-event">Рабочее время</div>
            <div class="external-event">Конференция</div>
            <div class="external-event">Встреча</div>
            <div class="external-event">Ресторан</div>
            <div class="external-event">Запуск</div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="drop-remove"> убрать после перемещения
                    <i class="fa fa-square-o small"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div id="calendar"></div>
    </div>
</div>
<script>
$(document).ready(function() {
	// Set Block Height
	SetMinBlockHeight($('#calendar'));
	// Create Calendar
	DrawFullCalendar();
});
</script>

