@{
    ViewBag.Title = "Описание функций";
}

<dl>
    <dt>@ViewBag.Title</dt>
    <dd>
        Функции веб-приложения:
        <ul>
            <li>
                <i class="fa fa-star txt-success"></i>
                Добавление
            </li>
            <li>
                <i class="fa fa-star txt-success"></i>
                Изменение
            </li>
            <li>
                <i class="fa fa-star txt-success"></i>
                Удаление
            </li>
        </ul>
        
    </dd>
</dl>