@{
    ViewBag.Title = "Сообщения оператору";
}

<dl>
    <dt>@ViewBag.Title:</dt>
    <dd>
        <ul>
            <li>
                <i class="fa fa-star txt-success"></i>
                Ошибка при добавлении. Запись не была добавлена
            </li>
            <li>
                <i class="fa fa-star txt-success"></i>
                Ошибка верификации изменений. Проверьте правильность введенных данных
            </li>
            <li>
                <i class="fa fa-star txt-success"></i>
                Ошибка при удалении. Эта запись не может быть удалена
            </li>
        </ul>

    </dd>
</dl>
